 * {
     /* change le box model */
     box-sizing: border-box;
 }

 img {
     /* image responsive, largeur maxi */
     max-width: 100%;
     /* hauteur "auto" */
     height: auto;
 }

 .carrousel_parent-ecrans {
     /* aligne horizontalement les enfants */
     display: flex;
     /* largeur du parent */
     width: 100%;
     /* permet de scroller horizontalement */
     overflow-x: scroll;
     /* animation de défilement */
     scroll-behavior: smooth;
     /* permet de scroller par blocs */
     scroll-snap-type: x mandatory;
 }

 .carrousel_ecran {
     /* largeur du parent pour chaque enfant */
     width: 100%;
     /* permet de garder toute la largeur du parent */
     flex: none;
     /* aligne les enfants par blocs */
     scroll-snap-align: start;
 }

 .carrousel_ecran figure {
     /* enlève les marges par défaut */
     margin: 0;
 }


 .carrousel {
     position: relative;
 }

 .carrousel_btn {
     position: absolute;
     top: 50%;
     /* centre verticalement */
     transform: translateY(-50%);
     /* methode du point mort */
     width: 2rem;
     height: 2rem;
     background: rgba(0, 0, 0, 0.5);
     border-radius: 50%;
     border: none;
     display: grid;
     place-content: center;
     color: #fff;
 }

 .carrousel_btn-avant {
     left: 0;
 }

 .carrousel_btn-apres {
     right: 0;
 }

 /* en vrac :*/
 .caroussel_liste-liens {
     /* aligne horizontalement les enfants */
     display: flex;
     /* centre horizontalement les enfants */
     justify-content: center;
     /* enlève les marges par défaut */
     margin: 0;
     /* enlève les padding par défaut */
     padding: 0;
     /* enlève les puces par défaut */
     list-style: none;
     /* espace entre les enfants */
     gap: 1rem;
 }

 .carrousel_btn {
     transition: background-color 0.3s ease;
     background-color: #333;
 }

 .carrousel_btn:hover {
     background-color: rgba(239, 16, 16, 0.8);
 }

 .carrousel_ecran figure {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border: 2px solid #000000;
 }

 .carrousel {
     background-color: #0a59ed;
 }

 .caroussel_liste-liens a:hover {
     text-decoration: underline;
     color: #007bff;
 }

 .carrousel_btn {
     background-color: rgba(255, 255, 255, 0.7);
     color: #008cff;
     border-radius: 50%;
     border: 2px solid white;
     box-shadow: 0 2px 4px rgba(229, 35, 35, 0.3);
     cursor: pointer;
 }